
header {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}
nav {
    border: 3px solid rgba(0, 137, 250, 0.514);
    
}
section {
    border: 3px solid rgb(223, 26, 196);
    margin-right: 50%;
    margin-bottom: 5px;
}
article {
    border: 3px solid rgb(13, 16, 228);
    display: flexbox;
    margin-right: 50%;
    margin-bottom: 5px;
}

aside {
    border: 3px solid rgb(16, 231, 131);
    height: 100%;

}

figcaption {
    border: 3px solid tomato;
}

    
footer {
    border: 3px solid chartreuse;
    padding: 20px;
}