h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    text-align: center;
}

.first {
    font-family: 'Courier New', Courier, monospace;
}

.secund {
    font-family: 'Courier New', Courier, monospace;
}

.third {
    font-family: 'Courier New', Courier, monospace;
}

.four {
    font-family: 'Courier New', Courier, monospace;
}